/*
    Structure:

    .input
        .input__label
        .input__wrapper
            .input__element

*/

.input {}

.input__label {}

.input__wrapper {}

.input__element {
    padding: .6em .5rem;
    border: 1px solid #bbb;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
    background-color: #fff;
    color: #2a2a2a;
    font-size: .85rem;
    line-height: 1.5;
}

.input__element:focus {
    border-color: #fc0;
}
